.App {
    text-align: center;
    height: 90vh;
    width: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-body {
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.spinner-wrapper {
    left: 50%;
    top: 40vh;
    margin-left: -50px;
    position: absolute;
}

.instructions {
    position: relative;
    top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-weight: 900;
    color: white
}
.instructions-body {
    font-weight: 400;
}
.snap-button{
    text-align: center;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    outline: none;
}
.camera{
    width: 40vw;
}

#hidden-new-file{
    visibility: hidden;
}
